@import "../theme/default.theme.scss";
@import "../function/unit.scss";

$total: 64;

.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.h-px {
  height: 1px;
}

@for $i from 1 through length($spacingScale) {
  $spacing: nth($spacingScale, $i);
  $id: map-get($spacing, scale);
  .h-#{$id} {
    height: #{unit($id * $baseScale * $baseFontSize)};
  } 
}
