@import "../theme/default.theme.scss";
@import "../function/unit.scss";

$step: 12;
@for $i from 0 through $step {
  .m-#{$i} {
    margin: #{unit($i * $baseFontSize/4)};
  }
}
@for $i from 0 through $step {
  .mx-#{$i} {
    margin-left: #{unit($i * $baseFontSize/4)};
    margin-right: #{unit($i * $baseFontSize/4)};
  }
}
@for $i from 0 through $step {
  .my-#{$i} {
    margin-top: #{unit($i * $baseFontSize/4)};
    margin-bottom: #{unit($i * $baseFontSize/4)};
  }
}
@for $i from 0 through $step {
  .ml-#{$i} {
    margin-left: #{unit($i * $baseFontSize/4)};
  }
}
@for $i from 0 through $step {
  .mr-#{$i} {
    margin-right: #{unit($i * $baseFontSize/4)};
  }
}
@for $i from 0 through $step {
  .mt-#{$i} {
    margin-top: #{unit($i * $baseFontSize/4)};
  }
}
@for $i from 0 through $step {
  .mb-#{$i} {
    margin-bottom: #{unit($i * $baseFontSize/4)};
  }
}
